[user]
	name = Stefan Sundseth
  email = stefan.sundseth@viget.com
[credential.helper]
  timeout = 900
[color]
  diff=always
[core]
  editor = gvim
  excludesfile = /Users/viget/.gitignore_global
[rerere]
  enabled = 1
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset' --abbrev-commit
